<html th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="custom-bread-crumb col-12 text-center">
            <div class="main-container">
                <!--Standard-->
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade" id="success-modal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">UĞURLU ƏMƏLİYYAT</h5>
                            </div>
                            <div class="modal-content">
                                <p class="text-success fw-bolder"
                                   id="success"
                                   style="display:inline;margin: 5%;font-size: 25px"
                                   th:if="success != null"
                                   th:text="${success}">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-dismiss="modal" id="close-success-modal"
                                        type="button">
                                    BAĞLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade" id="error-modal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">XƏTA</h5>
                            </div>
                            <div class="modal-content">
                                <p class="text-danger fw-bolder"
                                   id="error"
                                   style="display:inline;margin: 5%;font-size: 25px"
                                   th:if="error != null"
                                   th:text="${error}">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal" id="close-error-modal"
                                        type="button">
                                    BAĞLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Standard-->
                <div th:object="${warRequest}">
                    <div aria-hidden="true"
                         aria-labelledby="exampleModalLabel"
                         class="modal fade" id="field-error-modal-war"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">İSTİFADƏÇİ XƏTASI</h5>
                                </div>
                                <div class="modal-content">
                                    <p class="text-danger fw-bolder" id="war-error"
                                       style="display:inline;margin: 5%;font-size: 25px"
                                       th:errors="*{warName}">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" id="close-field-error-modal-war"
                                            type="button">
                                        BAĞLA
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:object="${rankRequest}">
                    <div aria-hidden="true"
                         aria-labelledby="exampleModalLabel"
                         class="modal fade" id="field-error-modal-rank"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">İSTİFADƏÇİ XƏTASI</h5>
                                </div>
                                <div class="modal-content">
                                    <p class="text-danger fw-bolder" id="rank-error"
                                       style="display:inline;margin: 5%;font-size: 25px"
                                       th:errors="*{rankName}">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" id="close-field-error-modal-rank"
                                            type="button">
                                        BAĞLA
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:object="${rewardRequest}">
                    <div aria-hidden="true"
                         aria-labelledby="exampleModalLabel"
                         class="modal fade" id="field-error-modal-reward"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">İSTİFADƏÇİ XƏTASI</h5>
                                </div>
                                <div class="modal-content">
                                    <p class="text-danger fw-bolder" id="reward-error"
                                       style="display:inline;margin: 5%;font-size: 25px"
                                       th:errors="*{rewardName}">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" id="close-field-error-modal-reward"
                                            type="button">
                                        BAĞLA
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:object="${postCategoryRequest}">
                    <div aria-hidden="true"
                         aria-labelledby="exampleModalLabel"
                         class="modal fade" id="field-error-modal-postCategory"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">İSTİFADƏÇİ XƏTASI</h5>
                                </div>
                                <div class="modal-content">
                                    <p class="text-danger fw-bolder" id="postCategory-error"
                                       style="display:inline;margin: 5%;font-size: 25px"
                                       th:errors="*{categoryName}">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" id="close-field-error-modal-postCategory"
                                            type="button">
                                        BAĞLA
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row categoryRow">
            <table class="table table-striped table-hover text-center" style="margin-top: 1%">
                <thead>
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">DÖYÜŞ</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <form method="post" th:action="@{'/categorization/war/create'}" th:object="${warRequest}">
                    <input class="form-control" id="contactNameLabel" name="warName"
                           placeholder="Döyüşün adını daxil edin"
                           th:field="*{warName}" type="text">
                    <div aria-label="Basic mixed styles example" class="btn-group categoryAdd" role="group">
                        <button class="btn btn-success text-uppercase mt-3" type="submit">ƏLAVƏ ET</button>
                    </div>
                </form>
                <tr class="align-middle" th:each="war : ${wars}">
                    <form method="post" th:action="@{'/categorization/war/update'}" th:object="${warRequest}">
                        <input name="id" th:value="${war.id}" type="hidden">
                        <th scope="row" th:text="${war.id}"></th>
                        <td>
                            <input class="" disabled="disabled" name="warName"
                                   th:id="'war-update-input-' + ${war.id}" th:value="${war.warName}"
                                   type="text">
                        </td>
                        <td>
                            <button class="btn btn-warning c mt-2" style="color: white"
                                    th:id="'war-update-button-' + ${war.id}"
                                    th:onclick="|activateUpdateButtonWar(${war.id})|"
                                    type="button">
                                DƏYİŞİKLİK ET
                            </button>
                            <button class="btn btn-success text-uppercase mt-2" style="display:none;"
                                    th:id="'war-update-form-' + ${war.id}"
                                    type="submit">YADDA SAXLA
                            </button>
                        </td>
                    </form>
                    <td>
                        <a class="delete-button btn btn-danger mt-2 text-uppercase"
                           data-toggle="modal" th:onclick="|init(${war.id},'delete','categorization/war')|">
                            SİL
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row categoryRow">
            <table class="table table-striped table-hover text-center" style="margin-top: 1%">
                <thead>
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">RÜTBƏ</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <form method="post" th:action="@{'/categorization/rank/create'}" th:object="${rankRequest}">
                    <input class="form-control" id="contactNameLabel1" name="rankName"
                           placeholder="Rütbəni daxil edin"
                           th:field="*{rankName}" type="text">
                    <div aria-label="Basic mixed styles example" class="btn-group categoryAdd" role="group">
                        <button class="btn btn-success text-uppercase mt-3" type="submit">ƏLAVƏ ET</button>
                    </div>
                </form>
                <tr class="align-middle" th:each="rank : ${ranks}">
                    <form method="post" th:action="@{'/categorization/rank/update'}" th:object="${rankRequest}">
                        <input name="id" th:value="${rank.id}" type="hidden">
                        <th scope="row" th:text="${rank.id}"></th>
                        <td>
                            <input class="" disabled="disabled" name="rankName"
                                   th:id="'rank-update-input-' + ${rank.id}" th:value="${rank.rankName}"
                                   type="text">
                        </td>
                        <td>
                            <button class="btn btn-warning c mt-2" style="color: white"
                                    th:id="'rank-update-button-' + ${rank.id}"
                                    th:onclick="|activateUpdateButtonRank(${rank.id})|"
                                    type="button">
                                DƏYİŞİKLİK ET
                            </button>
                            <button class="btn btn-success text-uppercase mt-2" style="display:none;"
                                    th:id="'rank-update-form-' + ${rank.id}"
                                    type="submit">YADDA SAXLA
                            </button>
                        </td>
                    </form>
                    <td>
                        <a class="delete-button btn btn-danger mt-2 text-uppercase"
                           data-toggle="modal" th:onclick="|init(${rank.id},'delete','categorization/rank')|">
                            SİL
                        </a>
                    </td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row categoryRow">
            <table class="table table-striped table-hover text-center" style="margin-top: 1%">
                <thead>
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">MEDAL</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <form method="post" th:action="@{'/categorization/reward/create'}" th:object="${rewardRequest}">
                    <input class="form-control" id="contactNameLabel2" name="rewardName"
                           placeholder="Medalı daxil edin"
                           th:field="*{rewardName}" type="text">
                    <div aria-label="Basic mixed styles example" class="btn-group categoryAdd" role="group">
                        <button class="btn btn-success text-uppercase mt-3" type="submit">ƏLAVƏ ET</button>
                    </div>
                </form>
                <tr class="align-middle" th:each="reward : ${rewards}">
                    <form method="post" th:action="@{'/categorization/reward/update'}" th:object="${rewardRequest}">
                        <input name="id" th:value="${reward.id}" type="hidden">
                        <th scope="row" th:text="${reward.id}"></th>
                        <td>
                            <input class="" disabled="disabled" name="rewardName"
                                   th:id="'reward-update-input-' + ${reward.id}" th:value="${reward.rewardName}"
                                   type="text">
                        </td>
                        <td>
                            <button class="btn btn-warning c mt-2" style="color: white"
                                    th:id="'reward-update-button-' + ${reward.id}"
                                    th:onclick="|activateUpdateButtonReward(${reward.id})|"
                                    type="button">
                                DƏYİŞİKLİK ET
                            </button>
                            <button class="btn btn-success text-uppercase mt-2" style="display:none;"
                                    th:id="'reward-update-form-' + ${reward.id}"
                                    type="submit">YADDA SAXLA
                            </button>
                        </td>
                    </form>
                    <td>
                        <a class="delete-button btn btn-danger mt-2 text-uppercase"
                           data-toggle="modal" th:onclick="|init(${reward.id},'delete','categorization/reward')|">
                            SİL
                        </a>
                    </td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row categoryRow">
            <table class="table table-striped table-hover text-center" style="margin-top: 1%">
                <thead>
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">PAYLAŞIM KATEQORİYASI</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <form method="post" th:action="@{'/categorization/post-category/create'}" th:object="${postCategoryRequest}">
                    <input class="form-control" id="contactNameLabel3" name="categoryName"
                           placeholder="Paylaşım kateqoriyasını daxil edin"
                           th:field="*{categoryName}" type="text">
                    <div aria-label="Basic mixed styles example" class="btn-group categoryAdd" role="group">
                        <button class="btn btn-success text-uppercase mt-3" type="submit">ƏLAVƏ ET</button>
                    </div>
                </form>
                <tr class="align-middle" th:each="postCategory : ${postCategories}">
                    <form method="post" th:action="@{'/categorization/post-category/update'}"
                          th:object="${postCategoryRequest}">
                        <input name="id" th:value="${postCategory.id}" type="hidden">
                        <th scope="row" th:text="${postCategory.id}"></th>
                        <td>
                            <input class="" disabled="disabled" name="categoryName"
                                   th:id="'postCategory-update-input-' + ${postCategory.id}"
                                   th:value="${postCategory.categoryName}"
                                   type="text">
                        </td>
                        <td>
                            <button class="btn btn-warning c mt-2" style="color: white"
                                    th:id="'postCategory-update-button-' + ${postCategory.id}"
                                    th:onclick="|activateUpdateButtonPostCategory(${postCategory.id})|"
                                    type="button">
                                DƏYİŞİKLİK ET
                            </button>
                            <button class="btn btn-success text-uppercase mt-2" style="display:none;"
                                    th:id="'postCategory-update-form-' + ${postCategory.id}"
                                    type="submit">YADDA SAXLA
                            </button>
                        </td>
                    </form>
                    <td>
                        <a class="delete-button btn btn-danger mt-2 text-uppercase"
                           data-toggle="modal"
                           th:onclick="|init(${postCategory.id},'delete','categorization/post-category')|">
                            SİL
                        </a>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="delete-modal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="delSocModalBody"></div>
        </div>
    </div>
</div>
</body>
</html>