<html th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="custom-bread-crumb col-12 text-center">
            <div class="main-container">
                <!--Standard-->
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade" id="success-modal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">UĞURLU ƏMƏLİYYAT</h5>
                            </div>
                            <div class="modal-content">
                                <p class="text-success fw-bolder"
                                   id="success"
                                   style="display:inline;margin: 5%;font-size: 25px"
                                   th:if="success != null"
                                   th:text="${success}">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-dismiss="modal" id="close-success-modal"
                                        type="button">
                                    BAĞLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade" id="error-modal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">XƏTA</h5>
                            </div>
                            <div class="modal-content">
                                <p class="text-danger fw-bolder"
                                   id="error"
                                   style="display:inline;margin: 5%;font-size: 25px"
                                   th:if="error != null"
                                   th:text="${error}">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal" id="close-error-modal"
                                        type="button">
                                    BAĞLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Standard-->
                <a class="btn btn-primary text-uppercase" href="/project/create">Yenİ Layİhə Yarat</a>
                <div aria-label="Basic mixed styles example" class="btn-group" role="group">
                    <a aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary"
                       data-toggle="collapse"
                       href="#collapseExample" role="button">
                        AXTARIŞ
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="main-container">
        </div>
    </div>
</div>
</body>
</html>