<html th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="custom-bread-crumb col-12 text-center">
            <div class="main-container">
                <!--Standard-->
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade" id="success-modal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">UĞURLU ƏMƏLİYYAT</h5>
                            </div>
                            <div class="modal-content">
                                <p class="text-success fw-bolder"
                                   id="success"
                                   style="display:inline;margin: 5%;font-size: 25px"
                                   th:if="success != null"
                                   th:text="${success}">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-dismiss="modal" id="close-success-modal"
                                        type="button">
                                    BAĞLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade" id="error-modal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">XƏTA</h5>
                            </div>
                            <div class="modal-content">
                                <p class="text-danger fw-bolder"
                                   id="error"
                                   style="display:inline;margin: 5%;font-size: 25px"
                                   th:if="error != null"
                                   th:text="${error}">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal" id="close-error-modal"
                                        type="button">
                                    BAĞLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Standard-->
                <div aria-label="Basic mixed styles example" class="btn-group" role="group">
                    <a aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary"
                       data-toggle="collapse"
                       href="#collapseExample" role="button">
                        AXTARIŞ
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form method="get" th:action="@{'/admin/message'}">
                    <div class="row d-flex justify-content-center">
                        <div class="mb-3 col-6">
                            <label class="form-label text-uppercase" for="headerLabel">Email</label>
                            <input class="form-control" id="headerLabel" name="email" type="search">
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label text-uppercase" for="headerLabel">Status</label>
                            <select class="form-select" name="status">
                                <option value="-1"></option>
                                <option value="ALL">HAMISI</option>
                                <option value="READ">OXUNMUŞ</option>
                                <option value="UNREAD">OXUNMAMIŞ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="mb-4 col-3">
                            <label class="form-label text-uppercase" for="lastRegDayLabel">Başlanğıc qəbul tarİx</label>
                            <input class="form-control" id="lastRegDayLabel" name="receivedDateFrom"
                                   type="date">
                        </div>
                        <div class="mb-4 col-3">
                            <label class="form-label text-uppercase" for="lastRegDayLabel">Son qəbul tarİx</label>
                            <input class="form-control" id="lastRegDayLabel" name="receivedDateTo"
                                   type="date">
                        </div>
                        <div class="mb-4 col-3">
                            <label class="form-label text-uppercase" for="startDayLabel">Başlanğıc oxunma tarix</label>
                            <input class="form-control" id="startDayLabel" name="readDateFrom" type="date">
                        </div>
                        <div class="mb-4 col-3">
                            <label class="form-label text-uppercase" for="startDayLabel">Son oxunma tarix</label>
                            <input class="form-control" id="startDayLabel" name="readDateTo" type="date">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="mb-4 text-center col-2">
                            <input class="btn btn-success text-uppercase" type="submit" value="AXTAR">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="main-container">
            <div class="main-card-row-container">
                <div class="row mt-4">
                    <table class="table table-striped table-hover text-center" style="margin-top: 1%">
                        <thead>
                        <tr>
                            <th scope="col">N</th>
                            <th scope="col">Başlıq</th>
                            <th scope="col">Göndərilmə Tarixi</th>
                            <th scope="col">Göndərən Email</th>
                            <th scope="col">Oxunma Tarixi</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <span th:each="message : ${objectList.page}">
                            <tr class="align-middle" style="background-color: #ffffff"
                                th:if="${message.status=='READ'}">
                                <th scope="row" th:text="${message.id}"></th>
                                <td th:text="${message.header}"></td>
                                <td th:text="${message.receivedTs}"></td>
                                <td th:text="${message.email}"></td>
                                <td th:text="${message.readTs}"></td>
                                <td>
                                    <form method="post" style="margin: 0 !important;"
                                          th:action="@{'/admin/message/read'}">
                                        <input name="id" th:value="${message.id}" type="hidden">
                                        <input class="btn mt-1 btn-warning text-uppercase"
                                               style="display: block;width: 100%;color: white;" type="submit"
                                               value="OXU">
                                    </form>
                                </td>
                                <td>
                                    <form method="post" style="margin: 0 !important;"
                                          th:action="@{'/admin/message/delete'}">
                                        <input name="id" th:value="${message.id}" type="hidden">
                                        <input class="btn mt-1 btn-danger text-uppercase"
                                               style="display: block;width: 100%" type="submit"
                                               value="SIL">
                                    </form>
                                </td>
                            </tr>
                            <tr class="align-middle" style="background-color: #AAFFAAFF"
                                th:if="${message.status=='UNREAD'}">
                                 <th scope="row" th:text="${message.id}"></th>
                                <td th:text="${message.header}"></td>
                                <td th:text="${message.receivedTs}"></td>
                                <td th:text="${message.email}"></td>
                                <td>YENI</td>
                                <td>
                                    <form method="post" style="margin: 0 !important;"
                                          th:action="@{'/admin/message/read'}">
                                        <input name="id" th:value="${message.id}" type="hidden">
                                        <input class="btn mt-1 btn-warning text-uppercase"
                                               style="display: block;width: 100%;color: white;" type="submit"
                                               value="OXU">
                                    </form>
                                </td>
                                <td>
                                    <form method="post" style="margin: 0 !important;"
                                          th:action="@{'/admin/message/delete'}">
                                        <input name="id" th:value="${message.id}" type="hidden">
                                        <input class="btn mt-1 btn-danger text-uppercase"
                                               style="display: block;width: 100%" type="submit"
                                               value="SIL">
                                    </form>
                                </td>
                            </tr>
                       </span>
                        </tbody>
                    </table>
                </div>
                <!--paging-->
                <div class="row mt-4">
                    <nav aria-label="Page navigation" class="paging">
                        <ul class="pagination justify-content-center" th:if="${objectList.page.totalPages > 1}">
                            <li class="page-item"
                                th:classappend="${!objectList.paging.isPrevEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   tabindex="-1"
                                   th:href="@{'/admin/message/?page=' + ${objectList.paging.pageNumber - 1}+ ${srcUrl}}">Previous</a>
                            </li>
                            <th:block th:each="item : ${objectList.paging.getItems()}">
                                <li class="page-item"
                                    th:classappend="${item.index == objectList.paging.pageNumber? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                    <a class="page-link" th:href="@{'/admin/message/?page=' + ${item.index}+ ${srcUrl}}"
                                       th:text="${item.index}"></a>
                                </li>
                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            </th:block>
                            <li class="page-item"
                                th:classappend="${!objectList.paging.isNextEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/admin/message/?page=' + ${objectList.paging.pageNumber + 1}+ ${srcUrl}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--paging-->
            </div>
        </div>
    </div>
</div>
</body>
</html>