<html th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="custom-bread-crumb col-12 text-center">
            <div class="main-container">
                <!--Standard-->
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade" id="success-modal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">UĞURLU ƏMƏLİYYAT</h5>
                            </div>
                            <div class="modal-content">
                                <p class="text-success fw-bolder"
                                   id="success"
                                   style="display:inline;margin: 5%;font-size: 25px"
                                   th:if="success != null"
                                   th:text="${success}">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-dismiss="modal" id="close-success-modal"
                                        type="button">
                                    BAĞLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true"
                     aria-labelledby="exampleModalLabel"
                     class="modal fade" id="error-modal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">XƏTA</h5>
                            </div>
                            <div class="modal-content">
                                <p class="text-danger fw-bolder"
                                   id="error"
                                   style="display:inline;margin: 5%;font-size: 25px"
                                   th:if="error != null"
                                   th:text="${error}">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal" id="close-error-modal"
                                        type="button">
                                    BAĞLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Standard-->
                <a class="btn btn-primary text-uppercase" href="/admin/user/create-page">İstifadəçİ əlavə et</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row categoryRow">
            <table class="table table-striped table-hover text-center" style="margin-top: 1%">
                <thead>
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">İSTİFADƏÇİ ADI</th>
                    <th scope="col">AD</th>
                    <th scope="col">SOYAD</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="align-middle" th:each="user : ${users}">
                    <input name="id" th:value="${user.id}" type="hidden">
                    <th scope="row" th:text="${user.id}"></th>
                    <th scope="row" th:text="${user.username}"></th>
                    <th scope="row" th:text="${user.name}"></th>
                    <th scope="row" th:text="${user.surname}"></th>
                    <td>
                        <a class="btn btn-warning mt-2 text-uppercase"
                           th:href="@{/admin/user/{id}(id=${user.id})}">
                            DƏYİŞİKLİK ET
                        </a>
                    </td>
                    <td>
                        <form method="post" th:action="@{'/admin/reset/user'}">
                            <input name="id" th:value="${user.id}" type="hidden">
                            <button class="btn btn-primary mt-2 text-uppercase" type="submit">
                                ŞİFRƏNİ YENİLƏ
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="post" th:action="@{'/admin/user/unblock'}">
                            <input name="id" th:value="${user.id}" type="hidden">
                            <button class="btn btn-success mt-2 text-uppercase"
                                    th:if="${user.isEnable == 0 && user.id !=1}"
                                    type="submit">
                                AKTIV ET
                            </button>
                        </form>
                        <form method="post" th:action="@{'/admin/user/block'}">
                            <input name="id" th:value="${user.id}" type="hidden">
                            <button class=" btn btn-danger mt-2 text-uppercase"
                                    th:if="${user.isEnable == 1 && user.id !=1}"
                                    type="submit">
                                DEAKTIV ET
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="delete-modal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="delSocModalBody"></div>
        </div>
    </div>
</div>
</body>
</html>