<html th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="custom-bread-crumb col-12 text-center">
            <div class="main-container">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="main-container" th:object="${messageResponse}">
            <div class="row">
                <div class="row">
                    <div class="row main-card-row-container">
                        <div class="col-12">
                            <label class="form-label text-uppercase">Məlumat</label>
                            <textarea class="form-control" disabled name="context" rows="3"
                                      th:field="*{context}"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label class="form-label text-uppercase" for="headerLabel">Başlıq</label>
                            <input class="form-control" disabled id="headerLabel" name="header" th:field="*{header}"
                                   type="text">
                        </div>
                        <div class="mb-3 col-4">
                            <label class="form-label text-uppercase" for="headerLabel">Email</label>
                            <input class="form-control" disabled id="headerLabel1" name="email" th:field="*{email}"
                                   type="text">
                        </div>
                        <div class="mb-3 col-4">
                            <label class="form-label text-uppercase" for="headerLabel">Göndərilmə Tarixi</label>
                            <input class="form-control" disabled id="headerLabel1" name="receivedTs"
                                   th:field="*{receivedTs}"
                                   type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>