<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="warResponse" type="az.netx.heroes.model.response.WarResponse"*/-->
<form method="post" th:action="@{'/categorization/war/delete'}" th:object="${warResponse}">
    <div class="modal-body">
        <input id="id" th:field="*{id}" type="hidden"/>
        <div class="col-12">
            <div class="form-group">
                <p>
                    <b>Döyüş</b> ilə bağlı olan digər məlumatlarda problem yaranma ehtimalını
                    nəzərə alaraq silinmə prosesini təsdiq etmək üçün aşağıda göstərilən şifrəni heç bir dəyişiklik
                    etmədən daxil edin.
                </p>
                <p><b style="text-decoration: red" th:text="${uuid}"></b></p>
                <input class="form-control" id="title" name="uuid" placeholder="Şifrəni daxil edin" type="text">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="text-uppercase white-button btn btn-secondary btn-sm ml-auto" data-dismiss="modal"
                id="delete-modal-close"
                type="button">
            Ləğv et
        </button>
        <button class="text-uppercase save-new-button dark-button btn btn-primary btn-sm ml-1" type="submit">
            Təsdİqlə
        </button>
    </div>
    <script>
        $("#delete-modal-close").click(function () {
            $('#delete-modal').modal('hide');
        });
    </script>
</form>
</html>