<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HeroesPanel</a>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarNavAltMarkup" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left: auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" th:href="@{/post}">Paylaşım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" th:href="@{/admin/hero}">Qazİlər</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" th:href="@{/martyred}">Şəhİdlər</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" th:href="@{/message}">Mesajlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" th:href="@{/admin/categorization}">Kateqorİyalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" th:href="@{/hist/all}">Zəfər Tariximiz</a>
                    </li>
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link text-uppercase" th:href="@{/user}">İstifadəçilər</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</html>
