<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <footer class="page_footer ds s-py-50 c-gutter-60">
        <div class="container">
            <div class="row">
                <div class="divider-20 d-none d-xl-block"></div>

                <div class="col-md-6 col-xl-4 animate animated fadeInUp" data-animation="fadeInUp"
                     style="margin-left: auto; margin-right: auto">

                    <div class="widget widget_text ">

                        <img alt="" src="/static/client/images/2f.png">
                        <p>Mövcud sayt Azərbaycan Gənclər Fondu dəstəyi ilə yaradılmışdır.</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <section class="page_copyright ds ms pb-40">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center animate animated scaleAppear" data-animation="scaleAppear">
                    <div class="mb-20">
                        <h3>ZəfərYolu</h3>
                    </div>
                </div>
                <div class="col-md-12 text-center animate animated scaleAppear" data-animation="scaleAppear">
                    <a th:href="@{https://www.linkedin.com/in/elmirtaghisoy/}"><span class="copyright_year">©</span>
                        Developed by Elmir Taghisoy</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End footer -->
</footer>
</html>