<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class="header_absolute  ds">
        <section class="page_topline ds s-overlay">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12 col-sm-12 text-center">
                        <div class="d-lg-flex justify-content-lg-end align-items-lg-center">
                            <div class="mr-auto ml-auto">

                                <div class="d-flex justify-content-center justify-content-lg-start">
                                    <a class="logo animate" data-animation="fadeInLeft" data-delay="250">
                                        <img alt="" src="/static/client/images/logo.png">
                                    </a>
                                    <a class="logo animate" data-animation="fadeInRight" data-delay="250">
                                        <img alt="" src="/static/client/images/logo2.png">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--eof topline-->

        <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
        <header class="page_header ds justify-nav-end" style="background-color: #131e25b3;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-11">
                        <a class="logo" th:href="@{/}">
                            <h3>ZəfərYolu</h3>
                        </a>
                    </div>
                    <div class="col-xl-10 col-lg-9 col-md-8 col-1">
                        <div class="nav-wrap">

                            <!-- main nav start -->
                            <nav class="top-nav">
                                <ul class="nav sf-menu">

                                    <li>
                                        <a th:href="@{/}">Ana Səhifə</a>
                                    </li>

                                    <li>
                                        <a th:href="@{/history}">Zəfər Tariximiz</a>
                                    </li>

                                    <!-- blog -->
                                    <li>
                                        <a style="cursor: pointer">Məqalələr</a>
                                        <ul>
                                            <li th:each="cat :${categoryList}">
                                                <a th:href="@{/post/{id}(id=${cat.id})}"
                                                   th:text="${cat.categoryName}"></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- eof blog -->


                                    <!-- shop -->
                                    <li>
                                        <a style="cursor: pointer">Qəhrəmanlarımız</a>
                                        <ul>
                                            <li>
                                                <a th:href="@{/martyred}">Şəhidlərimiz</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/hero}">Qazilərimiz</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- eof shop -->


                                    <!-- contacts -->
                                    <li>
                                        <a th:href="@{/contact}">Əlaqə</a>
                                    </li>

                                    <li>
                                        <a>Dil Seçimi</a>
                                        <ul>
                                            <li>
                                                <div id="google_translate_element"></div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- eof contacts -->
                                </ul>


                            </nav>
                            <!-- eof main nav -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- header toggler -->
            <span class="toggle_menu"><span></span></span>
        </header>
    </div>
</div>
</html>
