<html th:include="~{client/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

<div class="header_absolute ds cover-background">

    <section class="page_title padding-mobile cs s-py-60 s-py-md-80 s-py-xl-150">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h1 class="bold">ERROR - 404</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Ana Səhifə</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

</div>

</body>

</html>