<html th:include="~{client/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
<div class="header_absolute header_under_slider ds">
    <section class="page_topline ds s-overlay">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-12 col-sm-12 text-center">
                    <div class="d-lg-flex justify-content-lg-end align-items-lg-center">
                        <div class="mr-auto ml-auto">

                            <!--                            <div class="d-flex justify-content-center justify-content-lg-start">-->
                            <!--                                <a class="logo animate" data-animation="fadeInLeft" data-delay="250">-->
                            <!--                                    <img alt="" src="/static/client/images/logo3.png">-->
                            <!--                                </a>-->
                            <!--                                <a class="logo animate" data-animation="fadeIn" data-delay="250">-->
                            <!--                                    <img alt="" src="/static/client/images/logo.png">-->
                            <!--                                </a>-->
                            <!--                                <a class="logo animate" data-animation="fadeInRight" data-delay="250">-->
                            <!--                                    <img alt="" src="/static/client/images/logo2.png">-->
                            <!--                                </a>-->
                            <!--                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <header class="page_header ds justify-nav-end" style="background-color: #131e25b3;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 col-md-4 col-11">
                    <a class="logo" th:href="@{/}">
                        <h4>ZəfərTarİxİ</h4>
                    </a>
                </div>
                <div class="col-xl-10 col-lg-9 col-md-8 col-1">
                    <div class="nav-wrap">

                        <!-- main nav start -->
                        <nav class="top-nav">
                            <ul class="nav sf-menu">

                                <li>
                                    <a th:href="@{/}">Ana Səhifə</a>
                                </li>

                                <li>
                                    <a th:href="@{/history}">Zəfər Tariximiz</a>
                                </li>

                                <!-- blog -->
                                <li>
                                    <a style="cursor: pointer">Məqalə</a>
                                    <ul>
                                        <li th:each="cat :${categoryList}">
                                            <a th:href="@{/post/{id}(id=${cat.id})}"
                                               th:text="${cat.categoryName}"></a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- eof blog -->


                                <!-- shop -->
                                <li>
                                    <a style="cursor: pointer">Qəhrəmanlar</a>
                                    <ul>
                                        <li>
                                            <a th:href="@{/martyred}">Şəhidlər</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/hero}">Qazilər</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- eof shop -->

                                <li>
                                    <a>Haqqımızda</a>
                                    <ul>
                                        <li>
                                            <a th:href="@{/partner}">Tərəfdaşlar</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/team}">Komanda</a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- contacts -->
                                <li>
                                    <a th:href="@{/contact}">Əlaqə</a>
                                </li>

                                <li>
                                    <a>Dil Seçimi</a>
                                    <ul>
                                        <li>
                                            <div id="google_translate_element"></div>
                                        </li>
                                    </ul>
                                </li>
                                <!-- eof contacts -->
                            </ul>
                        </nav>
                        <!-- eof main nav -->

                    </div>
                </div>
            </div>
        </div>
        <!-- header toggler -->
        <span class="toggle_menu"><span></span></span>
    </header>
</div>

<section class="page_slider">
    <div class="ds flexslider flexslider-style2">
        <ul class="slides">
            <li class="cover-image flex-slide">
                <img alt="" src="/static/client/images/slider/e2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h1>
                                            <span>Şəhİdlər ölməz,</span>
                                        </h1>
                                    </div>
                                    <div class="intro_layer mt-2" data-animation="fadeInRight">
                                        <h1>
                                            Vətən Bölünməz.
                                        </h1>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <div class="fw-divider-slider mb-3">
                                            <p class="special"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cover-image flex-slide">
                <img alt="" src="/static/client/images/slider/pres.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h1>
                                            <span style="text-shadow: 0 0 3px black;"> Qarabağ bİzİmdİr,</span>
                                        </h1>
                                    </div>
                                    <div class="intro_layer mt-2" data-animation="fadeInRight">
                                        <h1 style="text-shadow: 0 0 3px black;">
                                            Qarabağ Azərbaycandır.
                                        </h1>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <div class="fw-divider-slider mb-1">
                                            <p class="special"></p>
                                        </div>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp"
                                         style="text-shadow: 0 0 3px black;">
                                        <p>Azərbaycan Respublikası Prezidenti: İlham Əliyev</p>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container-fluid -->
            </li>

        </ul>
    </div>
</section>

<section class="ds s-pb-60 s-pb-md-80 s-pb-xl-130 c-gutter-5 c-mb-70 service-isotope top-minus">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 animate" data-animation="bigEntrance" data-delay="50">
                <div class="ls icon-box text-center">
                    <h4>
                        <a th:href="@{/hero}">Qəhrəmanlarımız</a>
                    </h4>

                    <p>
                        Qarabağ döyüşündə iştirak etmiş Şəhidlərimiz haqqında məlumatlar.
                    </p>
                    <a class="simple_link" th:href="@{/hero}">Ətraflı</a>

                </div>
                <div class="divider-40 d-sm-block d-md-none"></div>
            </div><!-- .col-* -->
            <div class="col-md-6 col-sm-12 animate" data-animation="bigEntrance" data-delay="50">
                <div class="ls icon-box text-center">
                    <h4>
                        <a th:href="@{/history}">Zəfər Tarİxİmiz</a>
                    </h4>

                    <p>
                        44 günlük vətən müharibəsi haqqında məlumatlar.
                    </p>
                    <a class="simple_link" th:href="@{/history}">Ətraflı</a>

                </div>
                <div class="divider-40 d-sm-block d-md-none"></div>
            </div>
        </div>
    </div>
</section>

<section class="ds s-pb-60 s-pb-md-80 s-pb-xl-150 ">
    <div class="container">
        <div class="row align-items-center c-gutter-60">
            <div class="col-md-12 col-lg-7 animate" data-animation="fadeIn" data-delay="20">
                <div class="item-media">
                    <div class="embed-responsive">
                        <div id="chartdiv" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="animate" data-animation="fadeInRight" data-delay="20" id="warInfo">
                    <div class="divider-30 divider-md-70 divider-xl-75"></div>
                    <h1><span class="color-main">Zəfər</span><br> Tarİxİmİz</h1>
                    <div class="fw-divider-special">
                        <p class="special"></p>
                    </div>
                    <div class="divider-40 divider-sm-50"></div>
                    <p>
                        Xəritənin üzərinə klik edərək işğaldan azad olan rayonlarımız haqqında qısa məlumat əldə edə
                        bilərsiniz.
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>


        </div>
    </div>
    <div class="divider-0 divider-lg-60"></div>

</section>

<section class="ls s-pt-60 s-pt-md-80 s-pt-xl-141 s-pb-40 s-pb-md-60 s-pb-xl-130" id="section_testimonials">
    <div class="container">
        <div class="row c-gutter-50 mobile-padding-normal">
            <div class="col-lg-12">
                <h1><span class="color-main">Zəfər</span> <br>Twİtlərİ</h1>
                <div class="divider-20"></div>
                <div class="fw-divider-special">
                    <p class="special"></p>
                </div>
                <div class="divider-25 divider-xl-45"></div>
            </div>
            <div class="col-md-12">
                <div class="testimonials-slider owl-carousel" data-autoplay="true" data-dots="false"
                     data-loop="true" data-margin="30" data-nav="false" data-responsive-lg="3"
                     data-responsive-md="3" data-responsive-sm="1" data-responsive-xs="1">
                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Bu gun Azarbаусan ordusu Madagizdə Azarbaycan bayragini qaldirdi. Madagiz bizimdir. Qarabağ
                            Azarbaycandir!
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">03.10.2020</span>
                        </footer>
                    </div>


                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Bu gün # Azərbaycan #Ordusu Tərtər rayon Talış kəndini, Cəbrayıl rayon Mehdili, Çaxırlı,
                            Aşağı Maralyan, Şəybəy və Quycaq kəndlərini, Füzuli rayonu Aşağı Əbdürrəhmanlı kəndini
                            azad etmişdir.
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">03.10.2020</span>
                        </footer>
                    </div>


                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Bu gün Azərbaycan ordusu Cəbrayıl şəhərini və rayonunun bir neçə kəndini işğaldan azad
                            etmişdir. Eşq olsun Azərbaycan ordusuna! Qarabağ Azərbaycandır!
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">04.10.2020</span>
                        </footer>
                    </div>


                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Bu gün Azərbaycan ordusu Cəbrayıl rayonunun Şıxəli Ağalı, Sarıcalı, Məzrə kəndlərini və
                            müxtəlif istiqamətlərdə bir neçə strateji yüksəkliyi azad etmişdir. Qəhrəman ordumuzun
                            uğurlu əməliyyatı davam edir. Qarabağ Azərbaycandır!
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">05.10.2020</span>
                        </footer>
                    </div>

                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Rəşadətli Azərbaycan Ordusu tərəfindən Füzuli rayonunun Qaradağlı, Xatunbulaq, Qarakollu,
                            Xocavənd rayonunun Bulutan, Məlikcanlı, Kəmərtük, Təkə, Tağaser kəndləri işğaldan azad
                            edilib. Eşq olsun Azərbaycan Ordusuna ! Qarabağ Azərbaycandır !
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">14.10.2020</span>
                        </footer>
                    </div>

                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Rəşadətli Azərbaycan Ordusu tərəfindən Füzuli rayonunun Arış , Cəbrayıl rayonunun Doşulu,
                            Xocavənd rayonunun Edişə, Düdükçü, Edilli, Çiraquz kəndləri işğaldan azad edilib. Eşq
                            olsun Azərbaycan Ordusuna! Qarabağ Azərbaycandır!
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">15.10.2020</span>
                        </footer>
                    </div>

                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Rəşadətli Azərbaycan Ordusu tərəfindən Xocavənd rayonunun Xırmancıq, Ağbulaq, Axullu
                            kəndləri işğaldan azad edilib. Eşq olsun Azərbaycan Ordusuna! Qarabağ Azərbaycandır!
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">16.10.2020</span>
                        </footer>
                    </div>

                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Cəbrayıl rayonunun Soltanlı, Əmirvarlı, Maşanlı, Həsənli, Əlikeyxanlı, Qumlaq, Hacılı,
                            Göyərçinveysəlli, Niyazqullar, Keçəl Məmmədli, Şahvəlli, Hacı İsmayıllı, İsaqlı
                            kəndləri azad edilmişdir. Qarabağ Azərbaycandır!
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">19.10.2020</span>
                        </footer>
                    </div>

                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Müzəffər Azərbaycan Ordusu Füzuli rayonunun Mollavəli, Yuxarı Rəfidinli, Aşağı Rəfidinli,
                            Cəbrayıl rayonunun Sirik, Şıxlar, Məstəlibəyli, Dərzili kəndlərini işğaldan azad etmişdir.
                            Eşq olsun Azərbaycan Ordusuna! Qarabağ Azərbaycandır!
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">22.10.2020</span>
                        </footer>
                    </div>

                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Müzəffər Azərbaycan Ordusu Cəbrayıl rayonunun Çaprand, Hacı İsaqlı, Qoşa Bulaq, Zəngilan
                            rayonunun Dərə Gilətağ, Böyük Gilətağ, Qubadlı rayonunun İşıqlı, Muradxanlı, Milanlı
                            kəndlərini işğaldan azad etmişdir. Eşq olsun Azərbaycan Ordusuna! Qarabağ Azərbaycandır!
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/ia.jpg">
                        </div>
                        <footer>
                            <cite class="color-dark">İlham Əliyev</cite>
                            <span class="color-main">02.11.2020</span>
                        </footer>
                    </div>


                </div>

            </div>

        </div>
    </div>
</section>

<section class="ds s-pt-60 s-pt-md-70 s-pt-xl-141 s-pb-60 s-pb-md-80 s-pb-xl-150" id="information-block">
    <div class="container">
        <div class="row c-gutter-50">
            <div class="divider-10 divider-lg-10 divider-xl-5"></div>
            <div class="col-md-9 col-lg-6 col-sm-12">
                <h1><span class="color-main">Bİzİmlə</span> Əlaqə</h1>
                <div class="fw-divider-special">
                    <p class="special"></p>
                </div>
                <div class="divider-40 divider-md-65"></div>
                <form id="messageForm" method="post" th:action="@{'/message/send'}" th:object="${messageRequest}">
                    <div class="form-group">
                        <label for="email">Əlaqə vasitəsi</label>
                        <input aria-required="true" class="form-control" id="email" name="email"
                               placeholder="Email ünvanınızı və ya Mobil nömrənizi daxil edin"
                               size="200" th:field="*{email}"
                               type="text" value="">
                    </div>
                    <div class="form-group">
                        <label for="header">Mövzu</label>
                        <input aria-required="true" class="form-control" id="header" name="header"
                               placeholder="Mövzunun başlığını daxil edin"
                               size="30" th:field="*{header}"
                               type="text" value="">
                    </div>
                    <div class="form-group">
                        <label for="context">Mətn</label>
                        <textarea aria-required="true" class="form-control" cols="20" id="context"
                                  name="context" placeholder="Təklif və iradlarınızı burada qeyd edin"
                                  rows="3"
                                  th:field="*{context}"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-darkgrey mt-30" id="send" name="contact_submit"
                                th:onclick="validateInput()"
                                type="button">Göndər
                        </button>
                    </div>
                </form>

            </div>


        </div>
    </div>
</section>
<script>
    function validateInput() {
        var message = "";
        if (document.getElementById("email").value.length === 0) {
            message += "Əlaqə vasitəsi -> Sizə geri dönüş edə bilməyimiz üçün əlaqə vasitəsini daxil edin.\n";
        }
        if (document.getElementById("header").value.length === 0) {
            message += "Mövzu -> Mövzunu təyin edə bilməyimiz üçün mətnə başlıq əlavə edin.\n";
        }
        if (document.getElementById("context").value.length === 0) {
            message += "Mətn -> Zəhmət olmasa mövzunu daxil edin.";
        }
        if (message.length !== 0) {
            alert(message)
            return false;
        } else {
            document.getElementById("messageForm").submit();
            alert("Mesajiniz uğurla göndərildi.\nTezliklə sizinlə əlaqə saxlanılacaq.")
            return true;
        }
    }
</script>
<script id='amcharts2-js-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/main.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='amcharts2-js-demo-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/demo.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='highlight-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/highlight/highlight.pack.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='-lib-3-ammap-js-js' src='https://cdn.amcharts.com/lib/3/ammap.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='-lib-3-themes-dark-js-js'
        src='https://cdn.amcharts.com/lib/3/themes/dark.js?ver=20211102-09b'
        type='text/javascript'></script>
<script>
    AmCharts.makeChart("chartdiv", {
        "type": "map",
        "theme": "dark",
        "series": {
            "slices": {
                "cursorOverStyle": "pointer"
            }
        },
        "dataProvider": {
            "mapURL": "https://www.amcharts.com/lib/3/maps/svg/azerbaijanHigh.svg",
            "getAreasFromMap": false,
            "areas": [
                {
                    id: "AZ-CAB",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(1)",
                    zoomLevel: 2
                },
                {
                    id: "AZ-FUZ",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(2)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-ZAN",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(3)",
                    zoomLevel: 2,
                },
                {
                    //
                    id: "AZ-QBI",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(4)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-SUS",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(5)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-AGM",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(6)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-KAL",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(7)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-LAC",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(8)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-XCI",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(9)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-XVD",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(10)",
                    zoomLevel: 3,
                }
            ]
        },
        "areasSettings": {
            "homeZoomLevel": 1,
            "selectedColor": "#54ff00"
        },

    });

    function getHistById(id) {
        const data = {
            id: id
        };
        $.ajax({
            url: "/get/hist/" + id,
            type: "GET",
            dataType: "html",
            data: data,
            success: function (response) {
                $("#warInfo").html(response);
            }
        });
    }

</script>
</body>
</html>