<html th:include="~{client/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>PathSoft - IT Solution for You Business</title>
</head>
<body>


<section class="page_slider">
    <div class="ds flexslider flexslider-style2">
        <ul class="slides">
            <li class="cover-image flex-slide">
                <img alt="" src="/static/client/images/slider/e2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h1>
                                            <span>Şəhidlər ölməz,</span>
                                        </h1>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h1>
                                            Vətən Bölünməz.
                                        </h1>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <div class="fw-divider-slider">
                                            <p class="special"></p>
                                        </div>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <a class="btn btn-outline-maincolor" href="#">Zəfər Tariximiz</a>
                                        <a class="btn btn-outline-maincolor" href="#">Şəhidlərimiz</a>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container-fluid -->
            </li>

            <li class="cover-image flex-slide">
                <img alt="" src="/static/client/images/slider/pres.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h1>
                                            <span> Qarabağ bizimdir,</span>
                                        </h1>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h1>
                                            Qarabağ Azərbaycandır.
                                        </h1>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <div class="fw-divider-slider">
                                            <p class="special"></p>
                                        </div>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <p>Azərbaycan Respublikası Prezidenti: İlham Əliyev</p>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <a class="btn btn-outline-maincolor" href="#">Zəfər Tariximiz</a>
                                        <a class="btn btn-outline-maincolor" href="#">Şəhidlərimiz</a>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container-fluid -->
            </li>


        </ul>
    </div>
</section>

<section class="ds s-pb-60 s-pb-md-80 s-pb-xl-130 c-gutter-5 c-mb-70 service-isotope top-minus">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="ls icon-box text-center">
                    <div class="icon-styled fs-40">
                        <i class="color-main ico icon-aircraft"></i>
                    </div>

                    <h4>
                        <a href="service-single.html">Qəhrəmanlarımız</a>
                    </h4>

                    <p>
                        Qarabağ döyüşündə iştirak etmiş Şəhidlərimiz haqqında məlumatlar.
                    </p>
                    <a class="simple_link" href="service-single.html">Ətraflı</a>

                </div>
                <div class="divider-40 d-sm-block d-md-none"></div>
            </div><!-- .col-* -->
            <div class="col-md-6 col-sm-12">
                <div class="ls icon-box text-center">
                    <div class="icon-styled fs-40">
                        <i class="color-main ico icon-supplies"></i>
                    </div>

                    <h4>
                        <a href="service-single.html">Zəfər Tariximiz</a>
                    </h4>

                    <p>
                        44 günlük vətən müharibəsi haqqında məlumatlar.
                    </p>
                    <a class="simple_link" href="service-single.html">Ətraflı</a>

                </div>
                <div class="divider-40 d-sm-block d-md-none"></div>
            </div><!-- .col-* -->
            <!--                    <div class="col-md-4 col-sm-12">-->
            <!--                        <div class="ls icon-box text-center">-->
            <!--                            <div class="icon-styled fs-40">-->
            <!--                                <i class="color-main ico icon-radar"></i>-->
            <!--                            </div>-->

            <!--                            <h4>-->
            <!--                                <a href="service-single.html">Qəhrəmanlarımız</a>-->
            <!--                            </h4>-->

            <!--                            <p>-->
            <!--                                Proven track record that gives our partners confidence that they are getting the best-->
            <!--                                price possible.-->
            <!--                            </p>-->
            <!--                            <a href="service-single.html" class="simple_link">learn more</a>-->

            <!--                        </div>-->
            <!--                        <div class="divider-40 d-sm-block d-md-none"></div>-->
            <!--                    </div>&lt;!&ndash; .col-* &ndash;&gt;-->
        </div>
    </div>
</section>

<section class="ds s-pb-60 s-pb-md-80 s-pb-xl-150 ">
    <div class="container">
        <div class="row align-items-center c-gutter-60">
            <div class="col-md-12 col-lg-7">
                <div class="item-media">
                    <div class="embed-responsive">
                        <div id="chartdiv" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="warInfo">
                    <div class="divider-30 divider-md-70 divider-xl-75"></div>
                    <h1><span class="color-main">About our</span><br> Strategy</h1>
                    <div class="fw-divider-special">
                        <p class="special"></p>
                    </div>
                    <div class="divider-40 divider-sm-50"></div>
                    <p>
                        Marketing and Advertising to the Military: One of the Most Attractive Consumer
                        Segments in
                        the U.S.<br><br>

                        The Military Market is young and active - in fact, over 43% are between 17-24 years
                        of age.
                        Advertising to the Military is also one of the best ways to engage hard to reach
                        young men -
                        who are very family-oriented (55% are married and 44% have kids).
                    </p>
                    <div>
                        <div class="divider-40 divider-sm-65"></div>
                        <button class="btn btn-outline-darkgrey large fw-400" type="button">Details</button>
                        <span class="m-45"> or </span>
                        <div class="widget widget_social_buttons">
                            <a class="fa fa-facebook" href="#" title="facebook"></a>
                            <a class="fa fa-twitter" href="#" title="twitter"></a>
                            <a class="fa fa-google" href="#" title="google"></a>
                            <a class="fa fa-youtube-play" href="#" title="youtube-play"></a>
                            <a class="fa fa-rss" href="#" title="rss"></a>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="divider-0 divider-lg-60"></div>

</section>

<section class="ls s-pt-60 s-pt-md-80 s-pt-xl-141 s-pb-40 s-pb-md-60 s-pb-xl-130" id="section_testimonials">
    <div class="container">
        <div class="row c-gutter-50 mobile-padding-normal">
            <div class="col-lg-12">
                <h1><span class="color-main">What people</span> <br>Say about us</h1>
                <div class="divider-20"></div>
                <div class="fw-divider-special">
                    <p class="special"></p>
                </div>
                <div class="divider-25 divider-xl-45"></div>
            </div>
            <div class="col-md-12">
                <div class="testimonials-slider owl-carousel" data-autoplay="true" data-dots="false"
                     data-loop="true" data-margin="30" data-nav="false" data-responsive-lg="3"
                     data-responsive-md="3" data-responsive-sm="1" data-responsive-xs="1">
                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            We are self-funded association of veterans. There is no charge for any of our
                            service and membership.
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/team/testimonials_01.png">
                        </div>

                        <footer>
                            <cite class="color-dark">Sidney W. Yarber</cite>
                            <span class="color-main">support</span>
                        </footer>
                    </div>


                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            We are self-funded association of veterans. There is no charge for any of our
                            service and membership.
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/team/testimonials_02.png">
                        </div>

                        <footer>
                            <cite class="color-dark">Terence M. Witzel</cite>
                            <span class="color-main">support</span>
                        </footer>
                    </div>


                    <div class="quote-item">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            We are self-funded association of veterans. There is no charge for any of our
                            service and membership.
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/team/testimonials_03.png">
                        </div>
                        <footer>
                            <cite class="color-dark">Kayla H. Seaman</cite>
                            <span class="color-main">support</span>
                        </footer>
                    </div>

                </div><!-- .testimonials-slider -->

            </div>

        </div>
    </div>
</section>

<section class="ds s-py-60 s-py-md-80 s-py-xl-150" id="our-gallery">

    <div class="divider-60 divider-md-80 divider-xl-140"></div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><span class="color-main">Döyüş </span>Lenti</h1>
            <div class="divider-20"></div>
            <div class="fw-divider-special-center">
                <p class="special"></p>
            </div>
            <div class="divider-35 divider-md-55"></div>
        </div>
        <div class="col-md-12">


            <div class="accordion" id="demo">

                <ul class="accordion__ul">
                    <li class="accordion__li">
                        <img alt="" class="accordion__img" src="/static/client/images/gallery-home/01.jpg">
                        <a href="#"><span>Qarabağ bizimdir, Qarabağ Azərbaycandır </span></a>
                    </li>

                    <li class="accordion__li">
                        <img alt="" class="accordion__img" src="/static/client/images/gallery-home/02.jpg">
                        <a href="#"><span>Qarabağ bizimdir, Qarabağ Azərbaycandır </span></a>
                    </li>

                    <li class="accordion__li">
                        <img alt="" class="accordion__img" src="/static/client/images/gallery-home/03.jpg">
                        <a href="#"><span>Qarabağ bizimdir, Qarabağ Azərbaycandır </span></a>
                    </li>

                    <li class="accordion__li">
                        <img alt="" class="accordion__img" src="/static/client/images/gallery-home/04.jpg">
                        <a href="#"><span>Qarabağ bizimdir, Qarabağ Azərbaycandır </span></a>
                    </li>

                    <li class="accordion__li">
                        <img alt="" class="accordion__img" src="/static/client/images/gallery-home/05.jpg">
                        <a href="#"><span>Qarabağ bizimdir, Qarabağ Azərbaycandır </span></a>
                    </li>
                    <li class="accordion__li">
                        <img alt="" class="accordion__img" src="/static/client/images/gallery-home/06.jpg">
                        <a href="#"><span>Qarabağ bizimdir, Qarabağ Azərbaycandır </span></a>
                    </li>
                    <li class="accordion__li">
                        <img alt="" class="accordion__img" src="/static/client/images/gallery-home/07.jpg">
                        <a href="#"><span>Qarabağ bizimdir, Qarabağ Azərbaycandır </span></a>
                    </li>
                </ul>


            </div>


        </div>
    </div>
    <div class="divider-60 divider-md-80 divider-xl-150"></div>
</section>

<section class="ds s-pt-60 s-pt-md-70 s-pt-xl-141 s-pb-60 s-pb-md-80 s-pb-xl-150" id="information-block">
    <div class="container">
        <div class="row c-gutter-50">

            <div class="divider-10 divider-lg-10 divider-xl-5"></div>
            <div class="col-md-9 col-lg-6 col-sm-12">
                <h1><span class="color-main">Bizimlə</span> Əlaqə</h1>
                <div class="fw-divider-special">
                    <p class="special"></p>
                </div>
                <div class="divider-40 divider-md-65"></div>
                <div class="form-group">
                    <label for="form-name">Ad</label>
                    <input aria-required="true" class="form-control" id="form-name" name="name"
                           placeholder="Adınızı daxil edin" size="30"
                           type="text" value="">
                </div>
                <div class="form-group">
                    <label for="email-name">Soyad</label>
                    <input aria-required="true" class="form-control" id="email-name" name="email"
                           placeholder="Soydınızı daxil edin" size="30"
                           type="email" value="">
                </div>
                <div class="form-group">
                    <label for="email-name">Email</label>
                    <input aria-required="true" class="form-control" id="email-name" name="email"
                           placeholder="Email ünvanınızı daxil edin" size="30"
                           type="email" value="">
                </div>
                <div class="form-group">
                    <label for="email-name">Əlaqə nömrəsi</label>
                    <input aria-required="true" class="form-control" id="email-name" name="email"
                           placeholder="Əlaqə nömrənizi daxil edin" size="30"
                           type="email" value="">
                </div>
                <div class="form-group">
                    <label for="form-message">Mətn</label>
                    <textarea aria-required="true" class="form-control" cols="20" id="form-message" name="message"
                              placeholder="Təklif və iradlarınızı burada qeyd edin"
                              rows="3"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-outline-darkgrey mt-30" id="form_submit" name="contact_submit"
                            type="submit">Göndər
                    </button>
                </div>
            </div>


        </div>
    </div>
</section>

<script id='amcharts2-js-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/main.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='amcharts2-js-demo-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/demo.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='highlight-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/highlight/highlight.pack.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='-lib-3-ammap-js-js' src='https://cdn.amcharts.com/lib/3/ammap.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='-lib-3-themes-dark-js-js'
        src='https://cdn.amcharts.com/lib/3/themes/dark.js?ver=20211102-09b'
        type='text/javascript'></script>
<script>
    AmCharts.makeChart("chartdiv", {
        "type": "map",
        "theme": "dark",
        "series": {
            "slices": {
                "cursorOverStyle": "pointer"
            }
        },
        "dataProvider": {
            "mapURL": "https://www.amcharts.com/lib/3/maps/svg/azerbaijanHigh.svg",
            "getAreasFromMap": false,
            "areas": [
                {
                    id: "AZ-CAB",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(1)",
                    zoomLevel: 2
                },
                {
                    id: "AZ-FUZ",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(2)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-ZAN",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(3)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-QBI",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(4)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-SUS",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(5)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-AGM",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(6)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-KAL",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(7)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-LAC",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(8)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-XCI",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(9)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-XVD",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getWarById(10)",
                    zoomLevel: 3,
                }
            ]
        },
        "areasSettings": {
            "homeZoomLevel": 1,
            "selectedColor": "#54ff00"
        },

    });

    function getWarById(id) {
        const data = {
            id: id
        };
        $.ajax({
            url: "/get/war/" + id,
            type: "GET",
            dataType: "html",
            data: data,
            success: function (response) {
                $("#warInfo").html(response);
            }
        });
    }

</script>
</body>
</html>