<html th:include="~{client/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>PathSoft - IT Solution for You Business</title>
</head>
<body>


<section class="page_slider">
    <div class="ds flexslider flexslider-style2">
        <ul class="slides">
            <li class="cover-image flex-slide">
                <img alt="" src="/static/client/images/slider/e2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h1>
                                            <span>Şəhİdlər ölməz,</span>
                                        </h1>
                                    </div>
                                    <div class="intro_layer mt-2" data-animation="fadeInRight">
                                        <h1>
                                            Vətən Bölünməz.
                                        </h1>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <div class="fw-divider-slider mb-3">
                                            <p class="special"></p>
                                        </div>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container-fluid -->
            </li>

            <li class="cover-image flex-slide">
                <img alt="" src="/static/client/images/slider/pres.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h1>
                                            <span style="text-shadow: 0 0 3px black;"> Qarabağ bİzİmdİr,</span>
                                        </h1>
                                    </div>
                                    <div class="intro_layer mt-2" data-animation="fadeInRight">
                                        <h1 style="text-shadow: 0 0 3px black;">
                                            Qarabağ Azərbaycandır.
                                        </h1>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <div class="fw-divider-slider mb-1">
                                            <p class="special"></p>
                                        </div>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp"
                                         style="text-shadow: 0 0 3px black;">
                                        <p>Azərbaycan Respublikası Prezidenti: İlham Əliyev</p>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container-fluid -->
            </li>

        </ul>
    </div>
</section>

<section class="ds s-pb-60 s-pb-md-80 s-pb-xl-130 c-gutter-5 c-mb-70 service-isotope top-minus">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 animate" data-animation="bigEntrance" data-delay="50">
                <div class="ls icon-box text-center">
                    <h4>
                        <a href="service-single.html">Qəhrəmanlarımız</a>
                    </h4>

                    <p>
                        Qarabağ döyüşündə iştirak etmiş Şəhidlərimiz haqqında məlumatlar.
                    </p>
                    <a class="simple_link" href="service-single.html">Ətraflı</a>

                </div>
                <div class="divider-40 d-sm-block d-md-none"></div>
            </div><!-- .col-* -->
            <div class="col-md-6 col-sm-12 animate" data-animation="bigEntrance" data-delay="50">
                <div class="ls icon-box text-center">
                    <h4>
                        <a href="service-single.html">Zəfər Tarİxİmiz</a>
                    </h4>

                    <p>
                        44 günlük vətən müharibəsi haqqında məlumatlar.
                    </p>
                    <a class="simple_link" href="service-single.html">Ətraflı</a>

                </div>
                <div class="divider-40 d-sm-block d-md-none"></div>
            </div>
        </div>
    </div>
</section>

<section class="ds s-pb-60 s-pb-md-80 s-pb-xl-150 ">
    <div class="container">
        <div class="row align-items-center c-gutter-60">
            <div class="col-md-12 col-lg-7 animate" data-animation="fadeIn" data-delay="60">
                <div class="item-media">
                    <div class="embed-responsive">
                        <div id="chartdiv" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="animate" data-animation="fadeInRight" data-delay="60" id="warInfo">
                    <div class="divider-30 divider-md-70 divider-xl-75"></div>
                    <h1><span class="color-main">Zəfər</span><br> Tarİxİmİz</h1>
                    <div class="fw-divider-special">
                        <p class="special"></p>
                    </div>
                    <div class="divider-40 divider-sm-50"></div>
                    <p>
                        Xəritənin üzərinə klik edərək işğaldan azad olan rayonlarımız haqqında qısa məlumat əldə edə
                        bilərsiniz.
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>


        </div>
    </div>
    <div class="divider-0 divider-lg-60"></div>

</section>

<section class="ls s-pt-60 s-pt-md-80 s-pt-xl-141 s-pb-40 s-pb-md-60 s-pb-xl-130" id="section_testimonials">
    <div class="container">
        <div class="row c-gutter-50 mobile-padding-normal">
            <div class="col-lg-12">
                <h1><span class="color-main">Zəfər</span> <br>Twİtlərİ</h1>
                <div class="divider-20"></div>
                <div class="fw-divider-special">
                    <p class="special"></p>
                </div>
                <div class="divider-25 divider-xl-45"></div>
            </div>
            <div class="col-md-12">
                <div class="testimonials-slider owl-carousel" data-autoplay="true" data-dots="false"
                     data-loop="true" data-margin="30" data-nav="false" data-responsive-lg="3"
                     data-responsive-md="3" data-responsive-sm="1" data-responsive-xs="1">
                    <div class="quote-item animate" data-animation="bigEntrance" data-delay="60">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            We are self-funded association of veterans. There is no charge for any of our
                            service and membership.
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/team/testimonials_01.png">
                        </div>

                        <footer>
                            <cite class="color-dark">Sidney W. Yarber</cite>
                            <span class="color-main">support</span>
                        </footer>
                    </div>


                    <div class="quote-item animate" data-animation="bigEntrance" data-delay="60">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            We are self-funded association of veterans. There is no charge for any of our
                            service and membership.
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/team/testimonials_02.png">
                        </div>

                        <footer>
                            <cite class="color-dark">Terence M. Witzel</cite>
                            <span class="color-main">support</span>
                        </footer>
                    </div>


                    <div class="quote-item animate" data-animation="bigEntrance" data-delay="60">
                        <p>
                            <i class="fa fa-quote-left"></i>
                            We are self-funded association of veterans. There is no charge for any of our
                            service and membership.
                        </p>
                        <div class="quote-image">
                            <img alt="" src="/static/client/images/team/testimonials_03.png">
                        </div>
                        <footer>
                            <cite class="color-dark">Kayla H. Seaman</cite>
                            <span class="color-main">support</span>
                        </footer>
                    </div>

                </div><!-- .testimonials-slider -->

            </div>

        </div>
    </div>
</section>

<section class="ds s-pt-60 s-pt-md-70 s-pt-xl-141 s-pb-60 s-pb-md-80 s-pb-xl-150" id="information-block">
    <div class="container">
        <div class="row c-gutter-50">

            <div class="divider-10 divider-lg-10 divider-xl-5"></div>
            <div class="col-md-9 col-lg-6 col-sm-12">
                <h1><span class="color-main">Bİzİmlə</span> Əlaqə</h1>
                <div class="fw-divider-special">
                    <p class="special"></p>
                </div>
                <div class="divider-40 divider-md-65"></div>
                <div class="form-group">
                    <label for="form-name">Ad</label>
                    <input aria-required="true" class="form-control" id="form-name" name="name"
                           placeholder="Adınızı daxil edin" size="30"
                           type="text" value="">
                </div>
                <div class="form-group">
                    <label for="email-name">Soyad</label>
                    <input aria-required="true" class="form-control" id="email-name" name="email"
                           placeholder="Soydınızı daxil edin" size="30"
                           type="email" value="">
                </div>
                <div class="form-group">
                    <label for="email-name">Email</label>
                    <input aria-required="true" class="form-control" id="email-name" name="email"
                           placeholder="Email ünvanınızı daxil edin" size="30"
                           type="email" value="">
                </div>
                <div class="form-group">
                    <label for="email-name">Əlaqə nömrəsi</label>
                    <input aria-required="true" class="form-control" id="email-name" name="email"
                           placeholder="Əlaqə nömrənizi daxil edin" size="30"
                           type="email" value="">
                </div>
                <div class="form-group">
                    <label for="form-message">Mətn</label>
                    <textarea aria-required="true" class="form-control" cols="20" id="form-message" name="message"
                              placeholder="Təklif və iradlarınızı burada qeyd edin"
                              rows="3"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-outline-darkgrey mt-30" id="form_submit" name="contact_submit"
                            type="submit">Göndər
                    </button>
                </div>
            </div>


        </div>
    </div>
</section>

<script id='amcharts2-js-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/main.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='amcharts2-js-demo-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/demo.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='highlight-js'
        src='https://www.amcharts.com/wp-content/themes/amcharts4/js/highlight/highlight.pack.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='-lib-3-ammap-js-js' src='https://cdn.amcharts.com/lib/3/ammap.js?ver=20211102-09b'
        type='text/javascript'></script>
<script id='-lib-3-themes-dark-js-js'
        src='https://cdn.amcharts.com/lib/3/themes/dark.js?ver=20211102-09b'
        type='text/javascript'></script>
<script>
    AmCharts.makeChart("chartdiv", {
        "type": "map",
        "theme": "dark",
        "series": {
            "slices": {
                "cursorOverStyle": "pointer"
            }
        },
        "dataProvider": {
            "mapURL": "https://www.amcharts.com/lib/3/maps/svg/azerbaijanHigh.svg",
            "getAreasFromMap": false,
            "areas": [
                {
                    id: "AZ-CAB",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(1)",
                    zoomLevel: 2
                },
                {
                    id: "AZ-FUZ",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(2)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-ZAN",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(3)",
                    zoomLevel: 2,
                },
                {
                    //
                    id: "AZ-QBI",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(4)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-SUS",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(5)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-AGM",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(6)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-KAL",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(7)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-LAC",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(8)",
                    zoomLevel: 3,
                },
                {
                    id: "AZ-XCI",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(9)",
                    zoomLevel: 2,
                },
                {
                    id: "AZ-XVD",
                    selectedColor: "#02ef00",
                    color: "#118c00",
                    rollOverColor: "#02ef00",
                    url: "javascript:getHistById(10)",
                    zoomLevel: 3,
                }
            ]
        },
        "areasSettings": {
            "homeZoomLevel": 1,
            "selectedColor": "#54ff00"
        },

    });

    function getHistById(id) {
        const data = {
            id: id
        };
        $.ajax({
            url: "/get/hist/" + id,
            type: "GET",
            dataType: "html",
            data: data,
            success: function (response) {
                $("#warInfo").html(response);
            }
        });
    }

</script>
</body>
</html>