<html th:include="~{client/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

<div th:replace="client/layout/header.html::header"></div>

<div class="header_absolute ds cover-background">

    <section class="page_title padding-mobile cs s-py-60 s-py-md-80 s-py-xl-150">
        <div class="container">
            <div class="row">


                <div class="col-md-12">
                    <h1 class="bold">Şəhİdlərİmİz</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Ana Səhifə</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a style="cursor: default">Şəhidlərimiz</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </section>

</div>

<section class="ls s-py-70 c-mb-30">
    <div class="container">
        <div class="row">
            <div class="card card-body">
                <form method="get" th:action="@{'/martyred'}">
                    <div class="row d-flex justify-content-center">
                        <div class="mb-4 col-sm-4 col-12">
                            <label class="form-label text-uppercase" for="headerLabel">Ad</label>
                            <input class="form-control" id="headerLabel" name="name" type="search">
                        </div>
                        <div class="mb-4 col-sm-4 col-12">
                            <label class="form-label text-uppercase" for="headerLabel">Soyad</label>
                            <input class="form-control" id="headerLabel" name="surname" type="search">
                        </div>
                        <div class="mb-4 col-sm-4 col-12">
                            <label class="form-label text-uppercase" for="headerLabel">Ata Adı</label>
                            <input class="form-control" id="headerLabel" name="fathername" type="search">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="mb-4 col-sm-4 col-12">
                            <label class="form-label text-uppercase" for="headerLabel">Rütbə</label>
                            <select class="form-select" name="rank">
                                <option value="-1"></option>
                                <span th:each="rank :${ranks}">
                                    <option th:text="${rank.rankName}" th:value="${rank.id}"></option>
                                </span>
                            </select>
                        </div>
                        <div class="mb-4 col-sm-4 col-12">
                            <label class="form-label text-uppercase" for="headerLabel">Medal</label>
                            <select class="form-select" name="reward">
                                <option value="-1"></option>
                                <span th:each="reward :${rewards}">
                                    <option th:text="${reward.rewardName}" th:value="${reward.id}"></option>
                                </span>
                            </select>
                        </div>
                        <div class="mb-4 col-sm-4 col-12">
                            <label class="form-label text-uppercase" for="headerLabel">Döyüş</label>
                            <select class="form-select" name="war">
                                <option value="-1"></option>
                                <span th:each="war :${wars}">
                                    <option th:text="${war.warName}" th:value="${war.id}"></option>
                                </span>
                            </select>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="mb-4 text-center col-2">
                            <input class="btn btn-success text-uppercase" type="submit" value="AXTAR">
                        </div>
                    </div>
                </form>
            </div>

            <div class="divider-20 divider-xl-80"></div>

            <div class="col-md-4 col-sm-6" th:each="martyred : ${objectList.page}">
                <div class="text-center">
                    <div class="card text-center">
                        <img alt="" class="card-img-top" th:src="${martyred.filePath}">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/martyred/{id}(id=${martyred.id})}"
                                   th:text="'Şəhid '+${martyred.name} +' ' +${martyred.surname}">
                                </a>
                            </h4>
                            <p class="card-text" th:text="${martyred.rank.rankName}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider-0 divider-xl-30"></div>

        </div>

        <div class="row mt-4">
            <nav aria-label="Page navigation" class="paging" style="margin-right: auto;margin-left: auto">
                <ul class="pagination justify-content-center" th:if="${objectList.page.totalPages > 1}">
                    <li class="page-item"
                        th:classappend="${!objectList.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link"
                           tabindex="-1"
                           th:href="@{'/martyred?page=' + ${objectList.paging.pageNumber - 1}+ ${srcUrl}}">Previous</a>
                    </li>
                    <th:block th:each="item : ${objectList.paging.getItems()}">
                        <li class="page-item"
                            th:classappend="${item.index == objectList.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link"
                               th:href="@{'/martyred?page=' + ${item.index}+ ${srcUrl}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item"
                        th:classappend="${!objectList.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/martyred?page=' + ${objectList.paging.pageNumber + 1}+ ${srcUrl}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</section>

</body>

</html>