<html th:include="~{client/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<div th:replace="client/layout/header.html::header"></div>

<div class="header_absolute ds cover-background">
    <section class="page_title padding-mobile cs s-py-60 s-py-md-80 s-py-xl-150">
        <div class="container">
            <div class="row">


                <div class="col-md-12">
                    <h1 class="bold"
                        th:text="${martyred.rank.rankName} +' '+ ${martyred.name} +' '+${martyred.surname} +' '+${martyred.fatherName}">
                        Team Member
                    </h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Ana Səhifə</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a style="cursor: default">Şəhidlərimiz</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </section>
</div>

<section class="ls s-py-50 single-team">
    <div class="container ">
        <div class="row ">


            <div class="divider-30 divider-xl-95"></div>

            <div class="col-12">
                <div class="row c-gutter-50 vertical-center">


                    <div class="col-md-5">
                        <div>
                            <img alt="" th:src="${martyred.filePath}">
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="divider-30 divider-md-0 divider-xl-0"></div>
                        <h3 class="team-name"
                            th:text="${martyred.name} +' '+${martyred.surname} +' '+${martyred.fatherName}"></h3>
                        <p class="entry-description-profession divider-top-bottom"
                           th:text="${martyred.rank.rankName}"></p>
                        <p id="editor" style="display: none" th:text="${martyred.about}">
                        </p>
                        <div id="output"></div>
                        <p style="margin-top: 1rem; color: black;font-weight: 600;">Mükafatlar</p>
                        <ul th:each="reward :${martyred.rewards}">
                            <li th:text="${reward.rewardName}"></li>
                        </ul>
                        <p style="color: black;font-weight: 600;">Döyüşlər</p>
                        <ul th:each="war :${martyred.wars}">
                            <li th:text="${war.warName}"></li>
                        </ul>

                    </div>

                </div>


            </div>


        </div>
    </div>
</section>
<section class="s-pt-60 s-pt-md-80 s-pt-xl-90 s-pb-60 s-pb-md-80 s-pb-xl-150">
    <div class="container">
        <div class="row c-gutter-50 mobile-padding-normal">

            <div class="col-sm-12 text-center">
                <h1>Şəhİdlərİmİz</h1>
                <div class="divider-20"></div>
                <div class="fw-divider-special-center">
                    <p class="special"></p>
                </div>
                <div class="divider-35 divider-md-65"></div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 text-center" th:each="mr :${martyredList}">
                <div class="card text-center">
                    <img alt="" class="card-img-top" th:src="${mr.filePath}">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a th:href="@{/martyred/{id}(id=${mr.id})}"
                               th:text="${mr.name} +' '+${mr.surname} +' '+${mr.fatherName}">
                            </a>
                        </h4>
                        <p class="card-text" th:text="${mr.rank.rankName}"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    var html = document.getElementById("editor").textContent;
    var object = document.getElementById("output").innerHTML = html;
</script>
</script>
</body>
</html>