<html th:include="~{client/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<div th:replace="client/layout/header.html::header"></div>

<div class="header_absolute ds cover-background">
    <section class="page_title padding-mobile cs s-py-60 s-py-md-80 s-py-xl-150">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="bold">Haqqımızda</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/index}">Ana Səhifə</a>
                        </li>
                        <li class="breadcrumb-item active" style="cursor: default">
                            Tərəfdaşlar
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="ls s-py-60 s-py-md-80 s-py-xl-150">
    <div class="container">


        <div class="row c-gutter-60">

            <main class="col-lg-12">
                <article class="post fw-event type-fw-event side-item">
                    <div class="item-media-wrap">
                        <div class="item-media cover-image"
                             style="background-image: url(&quot;images/events/08.jpg&quot;);">
                            <img alt="" src="/static/client/img/2.png">
                        </div>
                    </div>

                    <div class="item-content entry-content">
                        <div class="item-content">
                            <p class="entry-meta">
                            </p>
                            <h3 class="entry-title">
                                <a>Aərbaycan Gənclər Fondu</a>
                            </h3>
                            <p>
                                Azərbaycan Respublikasının Gənclər Fondu- 7 mart 2018-ci il tarixində yenidən yaradılan,
                                Azərbaycanda gənclər siyasəti ilə bağlı elm, təhsil, mədəniyyət və digər sosial sahələrə
                                yönəlmiş fəaliyyətlərin stimullaşdırılmasını, o cümlədən beynəlxalq səviyyədə həyata
                                keçirilən layihə və proqramları qrant şəklində maliyyələşdirilməsini təmin edən
                                qurumdur. Azərbaycan Respublikasının Gənclər Fondu Azərbaycan Respublikasının Prezidenti
                                İlham Əliyevin 7 fevral 2011-ci il tarixli 826 nömrəli fərmanı ilə təsis olunmuşdur.
                                Fond Azərbaycan Respublikasının Prezidenti cənab İlham Əliyev 7 iyul 2011-ci il tarixli
                                Sərəncamı ilə təsdiq olunmuş "Azərbaycan gəncliyi 2011–2015-ci illərdə" Dövlət
                                Proqramının həyata keçirilməsi üzrə Tədbirlər Planın 6.1.4-cü bəndinə əsasən
                                yaradılmışdır. Fond daha öncə Azərbaycan Respublikası Gənclər və İdman Nazirliyi yanında
                                fəali yyət göstərmişdir. 2018-ci ilin mart ayının 7-sində isə adı Azərbaycan
                                Respublikasının Gənclər Fondu olaraq dəyişdirildi. Əsas fəaliyyət istiqamətləri
                                aşağıdakılardır: gənclərlə bağlı dövlət siyasətinin formalaşdırılmasında və həyata
                                keçirilməsində iştirak etmək; gənclər siyasəti sahəsində normativ hüquqi aktların
                                layihələrinin hazırlanmasında iştirak etmək; gənclərin, gənclər təşkilatlarının, eləcə
                                də gənclər siyasətinin həyata keçirilməsində iştirak edən dövlət və yerli özünüidarəetmə
                                orqanlarının elmi-tətbiqi, sosial əhəmiyyətli və idarəetmə sahəsi ilə bağlı innovativ
                                ideyalarını dəstəkləmək; gənclərin ölkənin sosial-iqtisadi, ictimai-siyasi və mədəni
                                həyatında yaxından iştirakını təmin etmək, onların təşəbbüskarlığının stimullaşdırılması
                                və artırılması istiqamətində tədbirlər görmək.
                            </p>
                        </div>
                    </div>
                </article>
                <article class="post fw-event type-fw-event side-item">
                    <div class="item-media-wrap">
                        <div class="item-media cover-image"
                             style="background-image: url(&quot;images/events/02.jpg&quot;);">
                            <img alt="" src="/static/client/img/1.png">
                        </div>
                    </div>

                    <div class="item-content entry-content">
                        <div class="item-content">
                            <p class="entry-meta">
                            </p>
                            <h3 class="entry-title">
                                <a>Gənclərin Töhfəsi İçtimai Birliyi</a>
                            </h3>
                            <p>
                                Gənclərin Töhfəsi İctimai birliyi 2009-cu ildə yaradılmışdır Məqsədlərimizə yönəlik
                                layihələr həyata keçirmək və gəncləri bu layihələr cəlb etmək birliyin başlıca
                                məqsədlərinnən biridir. Gənclərimizin asudə vaxtlarını səmərəli keçirmək onları ictmai
                                problemlərin həllinə yönəlik layihələr cəlb etmək.
                                Bu günə qədər həm ölkə daxili həm də ölkə xarici 500 ün üzərində Ulu Ömdərin irsinin
                                qprunması, gənclərin bilik və bacarıqlarının artırılması, asudə vaxtlarının səmərəli
                                təşkili, həyat və sağlamlığın qorunması üçün vərdişlər, gender bərabərliyi, ölkə
                                tarixinin gənclərə aşılanması və s, istiqamətlərdə tədbirlər həyata keçirilib.
                                Zəfərə Doğru Addımla layihəsi 3 ölkədə Azərbaycan, Gürcüstan, Türkiyədə həyata
                                keçirilmiş böyük maraq yaratmışdır.
                                İctimai birliyin sədri Asim Vəliyev, İcraçı direktoru Məhsəti Hüseynova , Baş Katibi
                                Taleh Mansurovdur.
                            </p>
                        </div>
                    </div>
                </article>
            </main>

        </div>

    </div>
</section>
</body>
</html>