<html th:include="~{client/layout/layout.html :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

<!-- template sections -->
<div class="header_absolute ds cover-background">

    <section class="page_title padding-mobile cs s-py-60 s-py-md-80 s-py-xl-150">
        <div class="container">
            <div class="row">


                <div class="col-md-12">
                    <h1 class="bold">Team</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Pages</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Team
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </section>

</div>

<section class="ls s-py-70 c-mb-30">
    <div class="container">
        <div class="row">

            <div class="divider-20 divider-xl-80"></div>

            <div class="col-md-4 col-sm-6">

                <div class="text-center">
                    <div class="card text-center">
                        <img alt="" class="card-img-top" src="/static/client/images/team/01.jpg">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="team-single.html">Anthony S. Felt</a>
                            </h4>
                            <p class="card-text">
                                support
                            </p>
                            <p class="card-text">
                                <a class="fa fa-facebook " href="#" title="facebook"></a>
                                <a class="fa fa-twitter " href="#" title="twitter"></a>
                                <a class="fa fa-instagram " href="#" title="instagram"></a>
                                <a class="fa fa-google " href="#" title="google"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="text-center">
                    <div class="card text-center">
                        <img alt="" class="card-img-top" src="/static/client/images/team/02.jpg">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="team-single.html">Viola J. Feliciano</a>
                            </h4>
                            <p class="card-text">
                                Support
                            </p>
                            <p class="card-text">
                                <a class="fa fa-facebook " href="#" title="facebook"></a>
                                <a class="fa fa-twitter " href="#" title="twitter"></a>
                                <a class="fa fa-instagram " href="#" title="instagram"></a>
                                <a class="fa fa-google " href="#" title="google"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-4 col-sm-6">

                <div class="text-center">
                    <div class="card text-center">
                        <img alt="" class="card-img-top" src="/static/client/images/team/03.jpg">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="team-single.html">Sally S. Buelow</a>
                            </h4>
                            <p class="card-text">
                                Support
                            </p>
                            <p class="card-text">
                                <a class="fa fa-facebook " href="#" title="facebook"></a>
                                <a class="fa fa-twitter " href="#" title="twitter"></a>
                                <a class="fa fa-instagram " href="#" title="instagram"></a>
                                <a class="fa fa-google " href="#" title="google"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-4 col-sm-6">

                <div class="text-center">
                    <div class="card text-center">
                        <img alt="" class="card-img-top" src="/static/client/images/team/04.jpg">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="team-single.html">Anthony S. Felt</a>
                            </h4>
                            <p class="card-text">
                                Support
                            </p>
                            <p class="card-text">
                                <a class="fa fa-facebook " href="#" title="facebook"></a>
                                <a class="fa fa-twitter " href="#" title="twitter"></a>
                                <a class="fa fa-instagram " href="#" title="instagram"></a>
                                <a class="fa fa-google " href="#" title="google"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-4 col-sm-6">

                <div class="text-center">
                    <div class="card text-center">
                        <img alt="" class="card-img-top" src="/static/client/images/team/05.jpg">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="team-single.html">Viola J. Feliciano</a>
                            </h4>
                            <p class="card-text">
                                Support
                            </p>
                            <p class="card-text">
                                <a class="fa fa-facebook " href="#" title="facebook"></a>
                                <a class="fa fa-twitter " href="#" title="twitter"></a>
                                <a class="fa fa-instagram " href="#" title="instagram"></a>
                                <a class="fa fa-google " href="#" title="google"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-4 col-sm-6">

                <div class="text-center">
                    <div class="card text-center">
                        <img alt="" class="card-img-top" src="/static/client/images/team/06.jpg">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="team-single.html">Sally S. Buelow</a>
                            </h4>
                            <p class="card-text">
                                Support
                            </p>
                            <p class="card-text">
                                <a class="fa fa-facebook " href="#" title="facebook"></a>
                                <a class="fa fa-twitter " href="#" title="twitter"></a>
                                <a class="fa fa-instagram " href="#" title="instagram"></a>
                                <a class="fa fa-google " href="#" title="google"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- .col-* -->


            <div class="divider-0 divider-xl-30"></div>

        </div>

    </div>
</section>

</body>


<!-- Mirrored from html.modernwebtemplates.com/fortex/team.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Nov 2021 22:06:12 GMT -->
</html>