.main-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.main-card-row-container {
    margin-bottom: 2%;
}

.auto-lr-margin {
    margin-left: auto !important;
    margin-right: auto !important;
}

.custom-bread-crumb {
    background-color: rgb(81 138 255 / 55%) !important
}

.search-panel {
    /*background: rgb(255,255,255);*/
    /*background: linear-gradient(*/
    /*        0deg*/
    /*        , rgba(255,255,255,0) 22%, rgb(159 191 255) 70%);*/
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
    border: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /*
    Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox
    */
}

.globalError {
    border-radius: 10px;
    border-color: red;
    border-width: 0.3px;
    padding: 1%;
}

.categoryRow {
    margin: 5%;
    border-style: solid;
    padding: 5%;
    border-width: thin;
    border-color: #a0bffc;
    border-radius: 5px;
}

.categoryAdd {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 4%;
}