.main-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.main-card-row-container {
    margin-bottom: 2%;
}

.auto-lr-margin {
    margin-left: auto !important;
    margin-right: auto !important;
}

.custom-bread-crumb {
    background-color: rgb(81 138 255 / 55%) !important
}

.search-panel {
    border: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.globalError {
    border-radius: 10px;
    border-color: red;
    border-width: 0.3px;
    padding: 1%;
}

.categoryRow {
    margin: 5%;
    border-style: solid;
    padding: 5%;
    border-width: thin;
    border-color: #a0bffc;
    border-radius: 5px;
}

.categoryAdd {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 4%;
}